:root{
    --nav-bar-font-size:1.5em; 
    --list-item-color:#0779e4; 
}
.nav-bar{
    height: 15%;
    display: flex;
    flex-direction: row;
    padding: 1em;
    
}
.image-size{
    width: 6%;
    height: 100%;
}
.list{
    width: 50%;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
}
.item{
    font-weight: bold;
    font-family: Calibri;
    font-size: var(--nav-bar-font-size);
    color: var(--list-item-color);
}
.item:hover{
    cursor: pointer;
    opacity: 0.5;
}